{% extends 'fi.html' %}
  {% block content %}

    <br>
  <center><h1 style="color:#159cd6">Hi {{s}} ..</h1></center>
    <br>
     <center>
         <div style="border: 3px solid ;border-radius: 25px;border-color: #bf1313;width:600px">


             <h1 style="color:#d6154c"><u>
                 Instruction
                 </u>
             </h1>

    <h2 style="color:#1522d6">This is a FREE online test. DO NOT pay money to anyone to attend this test.</h2>
<h2 style="color:#1522d6">Total number of questions : 10.</h2>
<h2 style="color:#1522d6">Time alloted : 10 minutes.</h2>
<h2 style="color:#1522d6">Each question carry 1 mark, no negative marks.</h2>
<h2 style="color:#1522d6">DO NOT refresh the page.</h2>
 <h2 style="color:#d6154c">All the best </h2>
 <a href="quiz" style="background-color: #4CAF50;
  border: none;
  color:#d6154c;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer">Start Now... </a>



     </div> </center>

{% endblock %}
